# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLACK=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLUE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALGREEN=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALLIGHTBLUE=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALRED=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALWHITE=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_ARMORMATERIALEMERALD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ACTUALLYADDITIONS_ARMORMATERIALGOGGLES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALOBSIDIAN=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_ARMORMATERIALQUARTZ=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:HARDENEDLEATHER=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:IC2_ALLOY=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IC2_BRONZE=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"IMMERSIVEENGINEERING:FARADAY"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"IMMERSIVEENGINEERING:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:Imp=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"hbm:ALLOY"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"hbm:ASBESTOS"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"hbm:AUSIII"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 100]
    I:"hbm:BLACKJACK"=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 50]
    I:"hbm:CMB"=50

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"hbm:COBALT"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 100]
    I:"hbm:DIGAMMA"=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 100]
    I:"hbm:DNT_NANO"=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 100]
    I:"hbm:EUPHEMIUM"=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"hbm:HAZMAT"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"hbm:HAZMAT2"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"hbm:HAZMAT3"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 100]
    I:"hbm:HEV"=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"hbm:LIQUIDATOR"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"hbm:PAA"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 100]
    I:"hbm:RPA"=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 50]
    I:"hbm:SCHRABIDIUM"=50

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:"hbm:SECURITY"=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 100]
    I:"hbm:STARMETAL"=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:"hbm:STEEL"=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"hbm:T45"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 100]
    I:"hbm:T45AJR"=100

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"hbm:TITANIUM"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:light_engineer_armor=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1]
    I:power_armor_suit=1

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:spaceSuit=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 6]
    I:tcomplement.knightslime=6

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:tcomplement.manyullyn=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:tcomplement.steel=7
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLACK=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLUE=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALGREEN=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALLIGHTBLUE=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALRED=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALWHITE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALEMERALD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALOBSIDIAN=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_TOOLMATERIALQUARTZ=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:BRONZE=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:BRONZE2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 24]
    I:Bloodwood=24

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:CRUCIBLE=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:GLOWSTONE=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:GLOWSTONE2=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:HBM_BISMUTH=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:HBM_CHLOROPHYTE=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:HBM_COBALT2=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:HBM_MESE=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:HBM_MESEGAVEL=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:HBM_METEORITE=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:HBM_STARMETAL=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:HBM_VOLCANIC=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 13]
    I:IC2_BRONZE=13

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"IE:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:LAZULI=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:LAZULI2=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:LuxSaber=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:OBSIDIAN=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:OBSIDIAN2=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:OSMIUM=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:OSMIUM2=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:STEEL=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:STEEL2=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:"hbm:ALLOY"=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"hbm:BAT"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"hbm:BATNAIL"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:"hbm:CHAINSAW"=0

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 100]
    I:"hbm:CMB"=100

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"hbm:COBALT"=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"hbm:DESH"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:"hbm:ELEC"=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 2]
    I:"hbm:ELECTERRA"=2

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"hbm:GOLFCLUB"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"hbm:MULTITOOL"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:"hbm:OPENER"=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"hbm:PIPELEAD"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"hbm:PIPERUSTY"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"hbm:SAW"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:"hbm:SCHRABIDIUM"=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:"hbm:SCHRABIDIUMHAMMER"=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:"hbm:SHIMMERSLEDGE"=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"hbm:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:"hbm:TITANIUM"=15
}


